@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">DISASTER RELIEF FOUNDATION</h1>
    <div>
        <p>
            The  Disaster Relief Foundation enables the  community to support one another’s people when natural or man-made disasters strike.
            Your support helps those impacted by flooding in so many ways Provide safe, dry shelter until families can return home Serve water
            and hot meals Play with kids staying in shelters Ensure people with disabilities get the help they need Provide first aid Give comfort and emotional support Distribute clean up supplies like mops, gloves and tarps

        </p>
    </div>
    <div>
        <h2>Mission</h2>
        <p>
            Our mission is to help those affected by the disaster by helping out with clothes ,food packages and shelter . this initiative is to impower each other and make sure that our brothers and sisters whom are affected by
            the disaster can he assisted accordingly . our mission statement in the foundation is to make sure our nonprofit’s marketing and communications. Our 2021 Recurring Giving Sentiment Report surveyed 1,000 recurring donors
            and found that 73% continue their automatic recurring donations when they feel connected to the way their gift impacts the cause they support.
        </p>
    </div>
    <div>
        <h2>Visson</h2>
        <p>
            Our vision is to make sure that every individual who is in need of help is assisted. Our vision is to make sure that by the end of every financial year we must have covered a certain amount or quantity of donations.
            The vision of Disaster Management Foundation (DMF) is to establish a society free from caste system gender and class discrepancy having equal and opportunities for the people.
        </p>
    </div>
    <div>
        <p>
            Our foundation re builds houses that where destroyed the disasters working hand in hand with community members to accomplish every project. Our NGO make sure that all the individuals affected gets help.
            So in this way that is why we ask for donations so that we ca have the work done easily and fast .donations of perishable foods, clothes and building materials .
            We make sure that all the perishable goods are given to the people who are affected by the disasters. We make sure that they get enough supply .working together we can do more.
            Kindly donate as much as you can to help our brothers and sisters .
        </p>
    </div>
    <div>
        <form method="post" action="//submit.form" onSubmit="return validateForm();">
            <div style="max-width: 400px;">
            </div>
            <div style="padding-bottom: 18px;font-size : 24px;">Donation</div>
            <div style="display: flex; padding-bottom: 18px;max-width : 550px;">
                <div style=" margin-left: 0; margin-right: 1%; width: 49%;">
                    First name<br />
                    <input type="text" id="data_2" name="data_2" style="max-width: 100%;" class="form-control" />
                </div>
                <div style=" margin-left: 1%; margin-right: 0; width: 49%;">
                    Last name<br />
                    <input type="text" id="data_3" name="data_3" style="max-width: 100%;" class="form-control" />
                </div>
            </div><div style="padding-bottom: 18px;">
                Email<br />
                <input type="text" id="data_4" name="data_4" style="max-width : 550px;" class="form-control" />
            </div>
            <div style="padding-bottom: 18px;">
                Donation Amount<span style="color: red;"> *</span><br />
                <span><input type="radio" id="data_5_0" name="data_5" value="R50" /> R50</span><br />
                <span><input type="radio" id="data_5_1" name="data_5" value="R100" /> R100</span><br />
                <span><input type="radio" id="data_5_2" name="data_5" value="R250" /> R250</span><br />
                <span><input type="radio" id="data_5_3" name="data_5" value="R500" /> R500</span><br />
            </div>
            <div style="padding-bottom: 18px;">
                Full Address<br />
<textarea id="data_6" false name="data_6" style="max-width : 550px;" rows="3" class="form-control"></textarea>
            </div>
            <div style="padding-bottom: 18px;"><input name="skip_Submit" value="Submit" type="submit" /></div>
            <div>
                <div style="float:right"><a href="https://www.100forms.com" id="lnk100" title="form to email">form to email</a></div>
                <script src="https://www.100forms.com/js/FORMKEY:AUBXUN7MWX8P/SEND:ST10130449@rcconnect.edu.za" type="text/javascript"></script>
            </div>
        </form>
        <div class="button"><a href="mailto:ST10130449@rcconnect.edu.za">Submit</a></div>
        <form action="https://www.paypal.com/donate/?hosted_button_id=USBH8NUEAWW2A" method="post" target="_top">
            <!-- Identify your business so that you can collect the payments. -->
            <input type="hidden" name="business" value="donations@kcparkfriends.org">
            <!-- Specify details about the contribution -->
            <input type="hidden" name="no_recurring" value="0">
            <input type="hidden" name="item_name" value="Friends of the Park">
            <input type="hidden" name="item_number" value="Fall Cleanup Campaign">
            <input type="hidden" name="currency_code" value="USD">
            <!-- Display the payment button. -->
            <input type="image" name="submit" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" alt="Donate">
            <img alt="" width="1" height="1" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif">
        </form>
    </div>
</div>
